:host {
  all: initial;
  position: fixed;
  bottom: 0;
  right: 10px;
  z-index: 2147483647;
}

.clock {
  background-image: url("/assets/images/digitalclock.png");
  box-sizing: border-box;
  /* color: rgb(51, 51, 51); */
  line-height: 20px;

  display: block;

  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;

  height: 80px;
  width: 160px;

  padding: 20px 0;
  margin: 0;

  text-align: center;
  white-space: pre;
  user-select: none;
}